# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
.gradle/
build/
captures/
local.properties

# Android specific
*.ap_
*.apk
*.dex
bin/
gen/
out/

# Log files
*.log

# Sensitive info
google-services.json

# OS specific
.DS_Store
Thumbs.db
